.grid-container {
    display: grid;
    box-sizing: border-box;
    max-width: calc(100% - 10px);
    grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
    
}


@media (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    }
    .node, .start-node, .wall-node {
      width: 20px;
      height: 20px;
    }
  }